extends admin-layout.pug

block content
  .container-fluid
    .pagetitle.mb-4
      h1 Admin Dashboard
      nav
        ol.breadcrumb
          li.breadcrumb-item.active Dashboard

    .row.g-4
      .col-md-4
        .card.shadow-sm
          .card-body.text-center
            h6 Total Patients Received
            h3 #{totalPatients}

      .col-md-4
        .card.shadow-sm
          .card-body.text-center
            h6 Total Patients Treated
            h3.text-success #{treatedPatients}

      .col-md-4
        .card.shadow-sm
          .card-body.text-center
            h6 Total Patients Waiting
            h3.text-warning #{waitingPatients}

    .row.g-4
      .col-md-6
        .card.shadow-sm
          .card-body.text-center
            h6 Patients Registered
            h3.text-primary #{weeklyPatients} - This week

      .col-md-6
        .card.shadow-sm
          .card-body.text-center
            h6 Patients Treated
            h3.text-success #{treatedThisweek} - This week

    .row.g-4
      .col-md-4
        .card.shadow-sm
          .card-body.text-center
            h6 Total Doctors
            h3 #{totalDoctors}

      .col-md-4
        .card.shadow-sm
          .card-body.text-center
            h6 Total Nurses
            h3 #{totalNurses}

      .col-md-4
        .card.shadow-sm
          .card-body.text-center
            h6 Total Users
            h3 #{totalUsers}

            

