extends admin-layout.pug

block scripts
  script(src='/js/form-validations/user.js')
  script.
    document.addEventListener("DOMContentLoaded", function () {
      toggleRoomSelect(); // Ensure correct display on page load
    });

    function toggleRoomSelect() {
      var role = document.getElementById('role').value;
      var roomContainer = document.getElementById('room-container');
      roomContainer.style.display = (role === 'doctor') ? 'block' : 'none';
    }
  
block content
  .pagetitle
    h1 Edit User Info
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/dashboard') Dashboard
        li.breadcrumb-item
          a(href='/all-users') Users List
        li.breadcrumb-item.active Edit User
  .card
    form(action=`/update-user?id=${user._id}` enctype="multipart/form-data" method="POST")
      .row
        .col-md-6
          .mb-2
            label(for='userName') Full Name:
            input#userName(name='userName' type='text' placeholder='Enter User Name' value=user.userName)
          .mb-2
            label(for='email') Email (Read Only):
            input#email(name='email' type='email' placeholder='Enter Email Address' value=user.email readonly)
          .mb-2
            label(for='phoneNumber') Phone Number:
            input#phoneNumber(name='phoneNumber' type='text' placeholder='Phone Number' value=user.phoneNumber)
        .col-md-6
          .mb-2
            label(for='role') Role:
            select#role(name='role' onchange='toggleRoomSelect()')
              option(value="") Assign Role
              option(value='administrator' selected=user.role === 'administrator') Administrator
              option(value='doctor' selected=user.role === 'doctor') Doctor
              option(value='nurse' selected=user.role === 'nurse') Nurse
          .mb-2#room-container(style='display: none;')
            label(for='room') Room:
            select#room(name='room')
              option(selected value="") Asign Doctor to Room
              option(value='room-1' selected=user.room === 'room-1') Room-1
              option(value='room-2' selected=user.room === 'room-2') Room-2
              option(value='room-3' selected=user.room === 'room-3') Room-3
              option(value='room-4' selected=user.room === 'room-4') Room-4
              option(value='room-5' selected=user.room === 'room-5') Room-5
          .mb-2
            label(for='profileImage') Profile Image (Optional):
            .image-preview.profile-img.mt-2.d-flex.align-items-center
              img#profileImagePreview(src=(user.profileImage ? user.profileImage : '/img/profile-img.png') alt='Profile Image' width='38px' height='38px')
              input#profileImage.form-control.image-upload(type='file' name='profileImage' accept='image/*')
          .submit-button
            p.invalidation-message 
            button.button(type='submit') Save Changes
